.lastbcont{
    width: 54%;
    height: 300px;
    margin: auto;
    /* border: 1px solid black; */
    color: #222222;
    text-align: left;
    margin-bottom: 25px;
}

.lastbcont2{
    /* border: 1px solid blue; */
    height: 55%;
    display: flex;
}
.lastbcont2>div{
/* border: 1px solid green; */
height: 100%;
width: 50%;
}

.lastbcont2>div>input{
    height: 25px;
}
.lastbcont2>div>button{
    height: 30px;
    background-color: #222222;
    color: white;
    margin-left: 10px;
    border-radius: 3px;
}
.QRCODE{
    width: 110px;
}