.newcont{
    width: 95.5%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
    margin-bottom: 50px;
}
.newcont1{
    /* border: 1px solid black; */
      
}

.newcont2{
    display: flex;
    /* border: 1px solid blue; */
    height: auto
}
.newcont2>div:nth-child(1){
    width: 20%;
    /* border: 1px solid red; */
    
}
.newcont2>div:nth-child(2){
    width: 80%;
    /* border: 2px solid blue; */
    padding-top: 25px;
    
}
.side1{
    width: 95%;
    height: auto;
    /* border: 1px solid green; */
    margin: auto;
    text-align: left;
}
.side1>div{
    width: 93.5%;
    height: auto;
    /* border: 1px solid green; */
    margin: auto;
    text-align: left; 
    padding-bottom: 10px;
    line-height: 27px;
}

.side1>div>p:hover{
 background-color: rgba(128, 128, 128, 0.227);
 border-radius: 2px;
}


.side2{
    width: 95%;
    height: auto;
    /* border: 1px solid green; */
    margin: auto;
    text-align: left;
}
.side2>div{
    width: 93.5%;
    height: 350px;
    /* border: 1px solid red; */
    margin: auto;
    text-align: left; 
    padding-bottom: 10px;
    line-height: 40px;
    overflow: scroll;

}

.side2>div>p:hover{
 background-color: rgba(128, 128, 128, 0.227);
 border-radius: 2px;
}


.side3{
    width: 95%;
    height: auto;
    /* border: 1px solid purple; */
    margin: auto;
    text-align: left;
    margin-bottom: 30px;
}
.side3>div{
    width: 93.5%;
    height: auto;
    /* border: 1px solid purple ; */
    margin: auto;
    text-align: left; 
    padding-bottom: 10px;
    line-height: 27px;
}

.side3>div>p:hover{
 background-color: rgba(128, 128, 128, 0.227);
 border-radius: 2px;
}

.colorcard>div{
width: 100%;
height: 50px;
border: 1px solid #222222;
display: flex;
align-items: center;
margin-bottom: 10px;
border-radius: 3px;

}

.colorcard>div>div{
    width:20px;
    height: 20px;
    /* border: 1px solid #222222; */
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
    
}

.colorcard>div:hover{
    background-color: #22222252;
}


.Newprodcard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.Newprodcard1>img{

    width: 200px;

}
