.container{
    /* border: 1px solid red; */
    display: flex;
    width: 96%;
    margin: auto;
    text-align: left;
    line-height: 30px;

}

.container>div{
    width: 25%;
    /* border: 1px solid green; */
    padding: 4px;
    color: white;

}
.bigcontainer{
   border: 1px solid black;
   padding: 10px;
   background-color: #222222;

   
}