
.MidtwoCont{
 
    /* border: 1px solid red; */
    height: auto;
 
}

.MidtwoCont2{
    /* border: 1px solid green; */
    height: 95%;
    width: 89%;
    margin: auto;

}

.MidtwoCont2 > div:nth-child(1){
   /* border: 1px solid purple; */

   height: auto;
}
.MidtwoCont2 > div:nth-child(1)>p{
   font-size: 23px;
 }

.Mid2Card{
    display: flex;
    text-align: left;
    line-height: 7px;
    justify-content: space-between;
    margin-top: 10px;
}
.Mid2Card>div>img{
width: 230px;

}
.MidtwoCont2>div>button {
    height: 40px;
    width: 110px;
    background-color:white;
    border: 1px solid #222222;
    border-radius: 3px ;
}
.MidtwoCont2>div:nth-child(3){
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-bottom: 60px;
}

.Mid2Card2 > p:nth-child(2)
{
    color: gray;
}
.Mid2Card2 > p:nth-child(3)
{
    font-weight: 550;
}
.Mid2Card2 > p:nth-child(5)
{
    color:red
}
