.Mid3cont{
    /* border: 1px solid black; */
    height: auto;
    padding-top: 25px;
    padding-bottom:25px ;

}
 .Mid3cont2{
    /* border: 1px solid green; */
    height: 100%;
    

    width: 89%;
    margin: auto;
} 

.Mid3cont2>div:nth-child(1){
    /* border: 1px solid red; */
    padding: 25px;
}

.Mid3card{
    display: flex;
    justify-content: space-between;
    text-align: left;
    line-height: 10px;
}
.Mid3card > div{
    width: 30%;
}
.Mid3card > div>img{
    width: 100%;
}
.fhrb{
    font-size: 20px;
}