.Mid5Container{
    /* border: 1px solid black; */
    height: 490px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.Mid5container2{
    /* border: 1px solid blue; */
    width: 89%;
    margin: auto;
    height: auto;
    display: flex;

}
.Mid5container2>div{
    /* border: 1px solid green; */
    width: 50%;
    height: auto;
}
.Mid5container2>div>img{
    
    width: 90%;
    height: 60%;
}